* {
min-height : 1px;
}
body {
border : 0;
margin : 0;
padding : 0;
background : #f2f5fe url("../img/bg.gif") repeat-x 0% 0%;
font : 70%/160% "verdana", sans-serif;
color : #192666;
}
a {
color : #192666;
}
a:hover {
color : #4f6ad7;
}
p {
border : 0;
margin : 15px 0;
padding : 0;
}
div {
display : block;
border : 0;
margin : 0;
padding : 0;
}
h1, h2, h3, h4, h5 {
border : 0;
margin : 15px 0 10px 0;
padding : 0;
font-weight : bold;
}
h1 {
font-size : 260%;
line-height : 100%;
font-family : "georgia", serif;
font-weight : normal;
}
h2 {
font-size : 180%;
line-height : 100%;
font-family : "georgia", serif;
font-weight : normal;
}
h3 {
font-size : 120%;
line-height : 100%;
font-weight : bold;
}
h4 {
font-size : 120%;
}
h5 {
font-size : 100%;
}
table {
display : table;
border-collapse : collapse;
margin : 15px 0;
padding : 0;
border : 1px solid #b7caf6;
font-size : 100%;
}
tr {
display : table-row;
}
th, td {
display : table-cell;
border : 1px solid #b7caf6;
margin : 0;
padding : 5px;
vertical-align : top;
text-align : left;
}
th {
background : #e7ecfd;
text-align : center;
color : #192666;
font-weight : bold;
}
ul, ol {
display : block;
border : 0;
margin : 15px 0 15px 40px;
padding : 0;
}
ol {
list-style-type : decimal;
}
li {
display : list-item;
border : 0;
margin : 0;
padding : 0;
}
ul ul, ul ol, ol ol, ol ul {
margin : 0 0 0 20px;
}
dl {
border : 0;
margin : 15px 0;
padding : 0;
}
dt {
border : 0;
margin : 0;
padding : 0;
font-weight : bold;
}
dd {
border : 0;
margin : 0 0 0 30px;
padding : 0;
}
form {
border : 0;
margin : 0;
padding : 0;
}
fieldset {
border : 1px solid #ccc;
margin : 15px 0;
padding : 10px;
}
legend {
margin-left : 10px;
font-size : 100%;
font-weight : bold;
color : #008;
}
hr {
display : block;
height : 1px;
margin : 10px 0;
padding : 0;
background : #ccc;
border : 0 solid #ccc;
color : #ccc;
}
a, img, span {
border : 0;
margin : 0;
padding : 0;
}
abbr, acronym {
border-bottom : 1px dotted #ccc;
cursor : help;
}
del, .through {
text-decoration : line-through;
}
strong, .strong {
font-weight : bold;
}
cite, em, q, var {
font-style : italic;
}
code, kbd, samp {
font-family : monospace;
font-size : 110%;
}
.f-left {
float : left;
}
.f-right {
float : right;
}
.t-left {
text-align : left;
}
.t-center {
text-align : center;
}
.t-right {
text-align : right;
}
.va-middle {
vertical-align : middle;
}
.clear {
clear : both;
}
.box {
min-height : 1px;
}
.box:after {
content : ".";
display : block;
line-height : 0;
font-size : 0;
visibility : hidden;
clear : both;
}
.nom {
margin : 0;
}
.noscreen {
display : none;
}
#main {
width : 770px;
margin : 50px auto 0 auto;
}
#header {
position : relative;
width : 770px;
height : 100px;
margin : 0;
padding : 0;
background : #233c9b url("../img/header.jpg") no-repeat 0% 0%;
color : #fff;
}
#header #logo {
position : absolute;
top : 35px;
left : 35px;
margin : 0;
}
#header #url {
position : absolute;
top : 55px;
left : 25px;
margin : 0;
font-size : 120%;
letter-spacing : 0.3px;
}
#header #logo a {
color : #fff;
}
#header #logo a:hover {
color : #b5c4e3;
text-decoration : underline;
}
#header #description {
position : absolute;
top : 55px;
right : 25px;
margin : 0;
text-align : right;
font-weight : bold;
}
#header #search {
position : absolute;
top : 35px;
right : 20px;
}
#header #search form {
position : relative;
}
#header #search #search-input-out {
position : absolute;
top : 0;
right : 45px;
width : 155px;
height : 28px;
margin : 0;
padding : 0;
border : 0;
background : url("../img/search_input.gif") no-repeat 0% 0%;
font : bold 90%/100% "verdana", sans-serif;
color : #192666;
}
#header #search #search-input {
width : 140px;
margin : 5px 8px;
padding : 3px 0;
border : 0;
background : #fff;
font : bold 100%/100% "verdana", sans-serif;
color : #192666;
}
#header #search #search-submit {
position : absolute;
top : 0;
right : 0;
}
#header #search fieldset {
margin : 0;
padding : 0;
border : 0;
}
#header #search fieldset {
width : 200px;
}
#header #search legend {
display : none;
}
#tabs {
background : #192666;
margin : 0 5px;
padding : 10px 0 0 0;
}
#tabs ul {
margin : 0 10px;
padding : 0;
list-style : none;
}
#tabs ul li {
margin : 0 5px 0 0;
padding : 0;
float : left;
}
#tabs ul li a {
display : block;
position : relative;
padding : 7px 15px;
border : 0;
background : url("../img/tab_link.gif") repeat-x 0% 0%;
color : #b5c4e3;
font-weight : bold;
text-decoration : none;
cursor : pointer;
}
#tabs ul li a span.tab-l, #tabs ul li a:hover span.tab-l {
position : absolute;
top : 0;
left : 0;
width : 8px;
height : 8px;
background : url("../img/tab_link_l.gif") no-repeat 0% 0%;
}
#tabs ul li a span.tab-r, #tabs ul li a:hover span.tab-r {
position : absolute;
top : 0;
right : 0;
width : 8px;
height : 8px;
background : url("../img/tab_link_r.gif") no-repeat 100% 0%;
}
#tabs ul li a:hover {
background : url("../img/tab_hover.gif") repeat-x 0% 0%;
color : #fff;
}
#tabs ul li a:hover span.tab-l {
background : url("../img/tab_hover_l.gif") no-repeat 0% 0%;
}
#tabs ul li a:hover span.tab-r {
background : url("../img/tab_hover_r.gif") no-repeat 100% 0%;
}
#tabs ul li#active a {
background : #fff;
color : #ff9000;
}
#tabs ul li#active a span.tab-l {
position : absolute;
top : 0;
left : 0;
width : 8px;
height : 8px;
background : url("../img/tab_active_l.gif") no-repeat 0% 0%;
}
#tabs ul li#active a span.tab-r {
position : absolute;
top : 0;
right : 0;
width : 8px;
height : 8px;
background : url("../img/tab_active_r.gif") no-repeat 100% 0%;
}
#page {
width : 770px;
min-height : 1px;
background : #fff url("../img/bg_page.gif") repeat-y 0% 0%;
}
#page-in {
min-height : 1px;
padding : 10px 0;
background : url("../img/bg_page_in.jpg") no-repeat 0% 0%;
}
#strip {
position : relative;
clear : both;
padding : 3px 20px 10px 20px;
color : #6182d1;
}
#strip p {
margin : 0;
}
#strip a {
color : #6182d1;
}
#strip a:hover {
color : #192666;
}
#strip #navigation {
width : 520px;
margin : 0;
padding : 0;
}
#strip #rss {
float : right;
width : 175px;
margin : 0;
padding-left : 25px;
background : url("../img/ico_rss.gif") no-repeat 0% 50%;
}
#content {
float : left;
width : 530px;
margin : 0;
padding : 0 0 0 20px;
}
#content .article {
clear : both;
margin : 0;
padding : 20px;
background : url("../img/content_article_bg.jpg") no-repeat 0% 0%;
}
#content .article h2 {
margin : 0 -20px;
padding : 10px;
background : #dee5fd url("../img/content_title_bg.gif") repeat-y 0% 0%;
color : #192666;
}
#content .article h2 span {
background : url("../img/ico_list.gif") no-repeat 0% 50%;
padding-left : 25px;
}
#content .article p {
text-align : justify;
}
#content .info {
margin : 10px 0;
padding-bottom : 8px;
border-bottom : 1px solid #dee5fd;
color : #6685cc;
}
#content .info a {
color : #6685cc;
}
#content .info a:hover {
color : #ff9000;
}
#content .info span.date, #content .info span.cat, #content .info span.user, #content .info span.comments {
padding-left : 15px;
}
#content .info span.date {
background : url("../img/ico_date.gif") no-repeat 0% 50%;
}
#content .info span.cat {
background : url("../img/ico_cat.gif") no-repeat 0% 50%;
margin-left : 8px;
}
#content .info span.user {
background : url("../img/ico_user.gif") no-repeat 0% 50%;
margin-left : 8px;
}
#content .info span.comments {
background : url("../img/ico_comments.gif") no-repeat 0% 50%;
margin-left : 8px;
}
#content .btn-more {
margin : 0 0 15px 0;
padding : 0;
border : 0;
position : relative;
}
#content .btn-more a {
display : block;
position : absolute;
top : 0;
right : 0;
width : 67px;
height : 21px;
margin : 0;
padding : 0 0 0 28px;
background : url("../img/btn_more.gif") no-repeat 0% 0%;
color : #fff;
text-decoration : none;
}
#content .btn-more a:hover {
background : url("../img/btn_more.gif") no-repeat -95px 0%;
}
#col {
float : left;
width : 200px;
margin : 0;
padding : 0;
background : #cedbf9 url("../img/col_bg.gif") repeat-y 0% 0%;
}
#col-in {
padding : 20px 10px;
background : url("../img/col_top.gif") no-repeat 0% 0%;
}
#col h3 {
padding : 13px 15px 14px 15px;
margin : 0 -10px 15px -10px;
background : #a0b9f3 url("../img/col_title_bg.gif") repeat-y 0% 0%;
color : #192666;
}
#col #about-me {
margin-bottom : 15px;
line-height : 130%;
}
#col #about-me p {
margin : 0;
}
#col #about-me #me {
float : left;
width : 54px;
height : 58px;
margin-right : 7px;
}
#col ul#category {
margin : 15px 0;
padding : 0;
list-style : none;
}
#col ul#category li {
margin : 0;
padding : 0;
border-bottom : 1px solid #e0e8fa;
}
#col ul#category li a {
display : block;
padding : 3px 0 3px 22px;
background : url("../img/ico_archive.gif") no-repeat 5px 6px;
text-decoration : none;
}
#col ul#category li a:hover {
background-color : #d3dff8;
color : #192666;
}
#col ul#category li#category-active a {
background : #e0e8fa url("../img/ico_archive2.gif") no-repeat 5px 50%;
font-weight : bold;
}
#col ul#archive {
margin : 15px 0;
padding : 0;
list-style : none;
}
#col ul#archive li {
margin : 0;
padding : 0;
border-bottom : 1px solid #e0e8fa;
}
#col ul#archive li a {
display : block;
padding : 3px 0 3px 22px;
background : url("../img/ico_archive.gif") no-repeat 5px 50%;
text-decoration : none;
}
#col ul#archive li a:hover {
background-color : #d3dff8;
color : #192666;
}
#col ul#archive li#archive-active a {
background : #e0e8fa url("../img/ico_archive2.gif") no-repeat 5px 6px;
font-weight : bold;
}
#col ul#links {
margin : 15px 0;
padding : 0;
list-style : none;
}
#col ul#links li {
margin : 0;
padding : 0;
border-bottom : 1px solid #e0e8fa;
}
#col ul#links li a {
display : block;
padding : 3px 0 3px 22px;
background : url("../img/ico_links.gif") no-repeat 5px 6px;
text-decoration : none;
}
#col ul#links li a:hover {
background-color : #d3dff8;
color : #192666;
}
#footer {
position : relative;
clear : both;
width : 770px;
height : 60px;
margin-bottom : 50px;
background : url("../img/footer.jpg") no-repeat 0% 0%;
color : #6685cc;
}
#footer a {
color : #6685cc;
}
#footer a:hover {
color : #192666;
}
#top {
position : absolute;
top : 55px;
left : 550px;
}
#top p {
position : relative;
width : 30px;
height : 25px;
margin : 0;
overflow : hidden;
}
#top p span {
display : block;
position : absolute;
left : 0;
top : 0;
z-index : 1;
width : 30px;
height : 25px;
background : url("../img/ico_top.gif") no-repeat 0% 0%;
cursor : pointer;
}
#top a:hover span {
background : url("../img/ico_top.gif") no-repeat -30px 0%;
}
#footer p#copyright {
position : absolute;
top : 10px;
left : 40px;
margin : 0;
}
#createdby {
position : absolute;
top : 10px;
left : 562px;
margin : 0;
color : #8ca3d8;
}
#createdby a {
color : #8ca3d8;
}